<div class="full-calendar-container">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>

<!-- Botón para mostrar/ocultar citas del sábado -->
<button (click)="toggleMostrarSabado()" class="btn-toggle-sabado">
  {{ mostrarSabado ? "Ocultar citas del sábado" : "Mostrar citas del sábado" }}
</button>

<!-- Ventana Modal -->
<div *ngIf="mostrarModal" class="modal-overlay">
  <div class="modal-content">
    <span class="close" (click)="cerrarModal()">&times;</span>
    <h2>Detalles de la Cita</h2>
    <p><strong>Nombre:</strong> {{ citaSeleccionada?.nombre }}</p>
    <p><strong>Cedula:</strong> {{ citaSeleccionada?.cedula }}</p>
    <p><strong>Teléfono:</strong> {{ citaSeleccionada?.telefono }}</p>
    <p>
      <strong>Fecha y Hora:</strong>
      {{ citaSeleccionada?.fechaHora | date : "medium" }}
    </p>
    <p><strong>Motivo:</strong> {{ citaSeleccionada?.motivo }}</p>
    <button class="btn eliminar" (click)="eliminarCita(citaSeleccionada?.id)">
      Eliminar Cita
    </button>
    <button class="btn cerrar" (click)="cerrarModal()">Cerrar</button>
  </div>
</div>
