<footer class="footer">
  <div class="footer-container">
    <div class="center-content">
      <div class="footer-section follow-us">
        <h3>SIGUEME</h3>
        <div class="social-links">
          <a
            href="https://www.facebook.com/NutricionistaAnaliaRoman/?locale=es_LA"
            target="_blank"
          >
            <img src="assets/imagenes/Facebook.png" alt="Facebook" />
          </a>

          <a
            href="https://www.instagram.com/nutricionistaanaliaroman/"
            target="_blank"
          >
            <img src="assets/imagenes/Instagram.png" alt="Instagram" />
          </a>

          <a
            href="https://www.linkedin.com/in/analía-román-nutricionista-89b817204/?originalSubdomain=ec"
            target="_blank"
          >
            <img src="assets/imagenes/LinkedIn.png" alt="LinkedIn" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2024 Todos los derechos reservados | Analia Román Nutrióloga ❤️</p>
    <div class="footer-terms"></div>
  </div>
</footer>
