.footer {
  background-color: #ee9696;
  padding: 40px 0;
  text-align: center;
}

.social-links {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social-links a img {
  width: 30px;
  height: 30px;
}

.footer-bottom {
  margin-top: 20px;
  color: #000;
}
