<header class="header">
  <div class="hero-section">
    <nav class="navbar">
      <!-- Logo y nombre alineados a la izquierda -->
      <div class="navbar-left">
        <img src="assets/imagenes/logoana.png" alt="Logo" class="logo" />
        <div class="hero-content">
          <h1>Analia Roman</h1>
          <h2>Nutrióloga</h2>
        </div>
      </div>

      <!-- Navegación en la parte inferior centrada -->
      <div class="navbar-right">
        <button class="btn" (click)="home()">Principal</button>
        <button class="btn" (click)="goToAgendarCita()">Agendar Cita</button>
        <button class="btn" (click)="goToListaCursos()">Ver Cursos</button>
        <button class="btn" (click)="servicios()">Servicios</button>

        <ng-container *ngIf="isLoggedIn">
          <button class="btn" (click)="goToListaCitas()">Lista de Citas</button>
          <button class="btn" (click)="goToAgregarCurso()">
            Agregar Curso
          </button>
        </ng-container>

        <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
          <button class="btn login-btn" (click)="goToLogin()">Login</button>
        </ng-container>

        <ng-template #loggedInTemplate>
          <div class="user-info">
            <button class="btn logout-btn" (click)="logout()">
              Cerrar Sesión
            </button>
            <p class="bienvenido-text">Bienvenido, {{ nombreUsuario }}!</p>
          </div>
        </ng-template>
      </div>
    </nav>
  </div>
</header>
