<header class="header">
  <div class="hero-section">
    <nav class="navbar">
      <!-- Logo alineado a la izquierda -->
      <div class="navbar-left">
        <img src="assets/imagenes/logoana.png" alt="Logo" class="logo" />
      </div>

      <!-- Navegación central -->
      <div class="navbar-center">
        <button class="btn" (click)="home()">Principal</button>
        <button class="btn" (click)="goToAgendarCita()">Agendar Cita</button>
        <button class="btn" (click)="goToListaCursos()">Ver Cursos</button>
        <button class="btn" (click)="Listaservicios()">
          Lista de Servicios
        </button>
        <button class="btn" (click)="conoceme()">Conoceme</button>
        <!-- Mostrar botones adicionales si está logueado -->
        <ng-container *ngIf="isLoggedIn">
          <button class="btn" (click)="goToListaCitas()">Lista de Citas</button>
          <button class="btn" (click)="goToAgregarCurso()">
            Agregar Curso
          </button>
          <button class="btn" (click)="servicios()">Servicios</button>
          <button class="btn" (click)="historia()">Historia Clínica</button>
          <button class="btn" (click)="Cursover()">Administrar cursos</button>
        </ng-container>
      </div>

      <!-- Perfil y cierre de sesión a la derecha -->
      <div class="navbar-right">
        <!-- Mostrar login o perfil según estado de autenticación -->
        <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
          <button class="btn login-btn" (click)="goToLogin()">Login</button>
        </ng-container>

        <!-- Si está logueado, mostrar perfil y botón de cierre de sesión -->
        <ng-template #loggedInTemplate>
          <div class="user-info">
            <img
              src="assets/imagenes/perfil.png"
              alt="Perfil"
              class="perfil-btn"
              (click)="perfil()"
            />
            <button class="btn logout-btn" (click)="logout()">
              Cerrar Sesión
            </button>
          </div>
        </ng-template>
      </div>
    </nav>
  </div>
</header>
