/* Estilos generales del header */
.header {
  position: relative;
  background-color: #2a944a; /* Fondo gris claro */
  color: #333;
  padding: 20px 0;
  width: 100%; /* Asegurar que el header tome el ancho completo del viewport */
  overflow: hidden; /* Ocultar cualquier contenido que sobresalga del contenedor */
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Asegurar que no sobrepase el ancho del contenedor */
  padding: 0 20px; /* Ajustar el padding para que no cause desbordamiento */
  box-sizing: border-box; /* Incluir padding y border en el width */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Igual, asegurar que el ancho sea completo pero no más */
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 80px; /* Ajusta el tamaño del logo */
  margin-right: 20px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.hero-content h2 {
  font-size: 18px;
  font-weight: 300;
  margin: 5px 0;
  color: #000000;
}

.navbar-right {
  display: flex;
  gap: 15px;
}

.btn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.login-btn,
.logout-btn {
  font-size: 14px;
}

/* Ajustes para pantallas pequeñas */
@media only screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 0 10px; /* Ajustar el padding en pantallas pequeñas */
  }

  .navbar-right {
    flex-direction: column;
    margin-top: 20px;
  }

  .btn {
    margin-bottom: 10px;
  }
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Estilos del botón de Cerrar Sesión */

.logout-btn:hover {
  background-color: #cea2a2;
}

/* Estilo para el texto de Bienvenida */
.bienvenido-text {
  font-size: 12px; /* Texto pequeño */
  color: #333;
  margin: 5px 0 0 0; /* Un pequeño margen superior */
  text-align: center; /* Para que se centre debajo del botón */
}
