<header class="header">
  <div class="hero-section">
    <nav class="navbar">
      <div class="navbar-left">
        <img src="assets/imagenes/logoana.png" alt="Logo" class="logo" />
      </div>
      <div class="navbar-center">
        <button class="btn" (click)="home()">Principales</button>
        <button class="btn" (click)="goToAgendarCita()">Agendar Cita</button>
        <button class="btn" (click)="goToListaCursos()">Ver Cursos</button>
        <button class="btn" (click)="Listaservicios()">
          Lista de Servicios
        </button>
        <button class="btn" (click)="conoceme()">Conóceme</button>
        <ng-container *ngIf="isLoggedIn">
          <div class="dropdown" [ngClass]="{ open: isDropdownOpen }">
            <button class="btn" (click)="toggleDropdown()">
              Opciones adicionales &#x25BC;
            </button>
            <div class="dropdown-content" *ngIf="isDropdownOpen">
              <button class="btn" (click)="goToListaCitas(); closeDropdown()">
                Lista de Citas
              </button>
              <button class="btn" (click)="goToAgregarCurso(); closeDropdown()">
                Agregar Curso
              </button>
              <button class="btn" (click)="servicios(); closeDropdown()">
                Crear Servicios
              </button>
              <button class="btn" (click)="historia(); closeDropdown()">
                Historia Clínica
              </button>
              <button class="btn" (click)="Cursover(); closeDropdown()">
                Administrar cursos
              </button>
              <button class="btn" (click)="serviciosver(); closeDropdown()">
                Administrar servicios
              </button>
              <button class="btn" (click)="direccion(); closeDropdown()">
                Crear dirección
              </button>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="navbar-right">
        <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
          <!-- <button class="btn login-btn" (click)="goToLogin()">Login</button> -->
        </ng-container>
        <ng-template #loggedInTemplate>
          <div class="user-info">
            <img
              src="assets/imagenes/perfil.png"
              alt="Perfil"
              class="perfil-btn"
              (click)="perfil()"
            />
            <button class="btn logout-btn" (click)="logout()">
              Cerrar Sesión
            </button>
          </div>
        </ng-template>
      </div>
    </nav>
  </div>
</header>
