<div class="about-section">
  <div class="profile-image">
    <img src="assets/imagenes/ana.png" alt="Imagen de perfil" />
  </div>
  <div class="about-text">
    <h2>Sobre mí...</h2>
    <p>
      Hola! Gracias por estar aquí.<br /><br />
      Mi nombre es Analia Román soy Licenciada en Nutrición, Dietética y
      Estética por la Universidad Estatal de Cuenca en Ecuador, mi ciudad natal
      es Arenillas.<br /><br />
      Durante esos 5 años de estudio realicé prácticas en diversos hospitales,
      clínicas y centros de salud en Ecuador y en el exterior donde tuve la
      oportunidad de ir a enriquecer mi formación práctica y académica.<br /><br />
      Durante los años siguientes obtuve un Máster en Nutrición y Alimentación
      Perinatal (UEMC), una especialización en Nutrición, Medicina y Salud
      Hormonal de la Mujer (ICNS) y una Certificación en Fertilidad Masculina y
      Femenina y Regulación Hormonal.<br /><br />
      Han pasado algunos años y cada día estoy más enamorada de mi profesión y
      sobre todo de esta rama de la Nutrición que escogí como especialidad y
      enfoque principal.<br /><br />
      Trabajo con el corazón para que cada uno de mis pacientes pueda optimizar
      su salud, prevenir y/o revertir su condición, enfocando ese tratamiento
      desde la raíz.
    </p>
  </div>
</div>
