<div class="home-container">
  <!-- Sección principal con el carrusel de videos -->
  <div class="hero-section">
    <div class="carousel-container">
      <div class="carousel">
        <div class="carousel-slide">
          <video class="carousel-video" controls>
            <source src="assets/videos/video1.mp4" type="video/mp4" />
            Tu navegador no soporta el elemento de video.
          </video>
        </div>
        <div class="carousel-slide">
          <video class="carousel-video" controls>
            <source src="assets/videos/video2.mp4" type="video/mp4" />
            Tu navegador no soporta el elemento de video.
          </video>
        </div>
        <div class="carousel-slide">
          <video class="carousel-video" controls>
            <source src="assets/videos/video3.mp4" type="video/mp4" />
            Tu navegador no soporta el elemento de video.
          </video>
        </div>
      </div>
      <button class="prev" (click)="prevSlide()">&#10094;</button>
      <button class="next" (click)="nextSlide()">&#10095;</button>
    </div>
  </div>

  <!-- Sección de Servicios, Proyectos y Clientes con animaciones -->
  <div class="medical-section">
    <div class="medical-card">
      <h2>SERVICIOS</h2>
      <p>Descubre nuestros servicios para cuidar de tu salud y bienestar.</p>
      <button class="primary-button" (click)="servicios()">
        Ver Servicios
      </button>
    </div>

    <div class="medical-card">
      <h2>ACERCA DE MÍ</h2>
      <p>
        Conoce mi trayectoria, experiencia profesional y cómo puedo ayudarte a
        lograr una mejor calidad de vida.
      </p>
      <button class="secondary-button" (click)="conoceme()">Sobre Mí</button>
    </div>
  </div>

  <div class="location-section">
    <div class="location-content">
      <h2>Consulta Presencial</h2>
      <p>Visítanos en nuestra clínica para una atención personalizada:</p>
      <div class="location-icon">
        <!-- Ícono de mapa animado -->
        <img src="assets/imagenes/dire.png" alt="Ubicación" class="pin-icon" />
      </div>
      <a [href]="direccionUrl" target="_blank" class="location-link">
        Ver ubicación en Google Maps
      </a>
    </div>
  </div>
</div>
