<div class="home-container">
  <!-- Sección principal con el carrusel de videos -->
  <div class="hero-section">
    <div class="carousel-container">
      <div class="carousel">
        <div class="carousel-slide">
          <video class="carousel-video" controls>
            <source src="assets/videos/video1.mp4" type="video/mp4" />
            Tu navegador no soporta el elemento de video.
          </video>
        </div>
        <div class="carousel-slide">
          <video class="carousel-video" controls>
            <source src="assets/videos/video2.mp4" type="video/mp4" />
            Tu navegador no soporta el elemento de video.
          </video>
        </div>
        <div class="carousel-slide">
          <video class="carousel-video" controls>
            <source src="assets/videos/video3.mp4" type="video/mp4" />
            Tu navegador no soporta el elemento de video.
          </video>
        </div>
      </div>
      <button class="prev" (click)="prevSlide()">&#10094;</button>
      <button class="next" (click)="nextSlide()">&#10095;</button>
    </div>
  </div>

  <!-- Sección de Servicios, Proyectos y Clientes -->
  <div class="services-section">
    <div class="service-card">
      <h2>SERVICIOS</h2>
      <p>
        Explora nuestros servicios personalizados para mejorar tu bienestar.
      </p>
      <button class="info-button" (click)="servicios()">Ver Servicios</button>
    </div>
    <div class="service-card">
      <h2>CONÓCEME</h2>
      <p>Descubre más sobre mi experiencia y enfoque profesional.</p>
      <button class="cta-button" (click)="conoceme()">Sobre Mi</button>
    </div>
  </div>

  <div class="direccion-section">
    <h2>Nuestra dirección</h2>
    <p>Será un gusto atenderte:</p>
    <a [href]="direccion" target="_blank" class="direccion-text">
      Ir a la ubicación
    </a>
  </div>
</div>
