.historia-clinica-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #d1f4df;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.titulo-seccion {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.form-busqueda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.input-group {
  flex-grow: 1;
}

.input-label {
  font-size: 16px;
  color: #000000;
  display: block;
  margin-bottom: 8px;
}

.input-text {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.btn-buscar {
  background-color: #005f73;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-buscar:hover {
  background-color: #09a9c9;
}

.resultado {
  margin-top: 20px;
}

.tabla-historial {
  width: 100%;
  border-collapse: collapse;
}

.tabla-historial th,
.tabla-historial td {
  padding: 12px 15px;
  border: 1px solid #ccc;
  text-align: left;
  vertical-align: top; /* Alinea el contenido en la parte superior */
}

.tabla-historial th {
  background-color: #005f73;
  color: white;
  font-weight: bold;
}

.tabla-historial td {
  background-color: #fff;
  word-wrap: break-word; /* Ajusta el texto largo en las celdas */
  white-space: normal; /* Permite que el texto haga saltos de línea */
  max-width: 200px; /* Limita el ancho de las celdas */
}

.tabla-historial tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla-historial td.motivo {
  overflow-wrap: break-word; /* Asegura que el texto se ajuste si es muy largo */
  word-break: break-word;
}

.sin-resultados {
  text-align: center;
  margin-top: 20px;
  color: #999;
  font-style: italic;
}
