<form (ngSubmit)="agendarCita()" class="form-container">
  <h2 class="form-title">Agendar Cita</h2>
  <small class="text-muted text-large">
    Horario de atención: Martes, Miércoles, Jueves se atiende de 5:30 PM a 8:30
    PM.
  </small>

  <div class="form-row">
    <div class="form-group">
      <label for="nombreCliente">Nombre y Apellido:</label>
      <input
        id="nombreCliente"
        [(ngModel)]="cita.nombre"
        name="nombreCliente"
        required
        class="form-control"
        placeholder="Ingresa tu nombre"
      />
    </div>

    <div class="form-group">
      <label for="cedula">Cédula:</label>
      <input
        id="cedula"
        [(ngModel)]="cita.cedula"
        name="cedula"
        required
        class="form-control"
        placeholder="Ingresa tu cédula"
      />
    </div>

    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <input
        id="telefono"
        [(ngModel)]="cita.telefono"
        name="telefono"
        required
        class="form-control"
        placeholder="Ingresa su teléfono"
      />
    </div>
  </div>

  <div class="form-group">
    <label for="fecha">Fecha:</label>
    <input
      id="fecha"
      type="date"
      [(ngModel)]="fechaSeleccionada"
      name="fecha"
      required
      class="form-control"
      (change)="cargarHorasDisponibles()"
      [min]="fechaMinima"
    />
  </div>

  <div class="form-group">
    <label for="hora">Hora:</label>
    <select
      id="hora"
      [(ngModel)]="horaSeleccionada"
      name="hora"
      required
      class="form-control"
    >
      <option
        *ngFor="let hora of horasDisponibles"
        [value]="hora.hora"
        [disabled]="hora.ocupada"
      >
        {{ hora.horaTexto }} ({{
          hora.ocupada ? "No Disponible" : "Disponible"
        }})
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="motivo">Motivo:</label>
    <textarea
      id="motivo"
      [(ngModel)]="cita.motivo"
      name="motivo"
      required
      class="form-control"
      placeholder="Ingresa el motivo de la cita"
      maxlength="1000"
    ></textarea>
  </div>

  <button type="submit" class="btn-submit">Agendar Cita</button>
</form>
