.login-container {
  background-color: #d1f4df;
  padding: 50px;
  border-radius: 10px;
  width: 350px;
  margin: 50px auto; /* Ajusta el margen superior aquí */
  text-align: center;
}
h2 {
  color: #000000;
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  color: #000000;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  color: #fff;
  margin-bottom: 10px;
}

input::placeholder {
  color: #888;
}

button.btn-primary {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #005f73;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}

p {
  color: #000000;
  margin-top: 10px;
}

button {
  background-color: transparent;
  color: #000000;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}

button:hover {
  color: #0a9396;
}
