<div class="form-container">
  <form (ngSubmit)="onSubmit()" #cursoForm="ngForm">
    <div class="form-group">
      <label for="nombre">Nombre del curso:</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        [(ngModel)]="curso.nombre"
        required
      />
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <textarea
        id="descripcion"
        name="descripcion"
        [(ngModel)]="curso.descripcion"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <label for="precio">Contraseña:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="curso.password"
        required
      />
    </div>
    <div class="form-group">
      <label for="precio">Precio:</label>
      <input
        type="text"
        id="precio"
        name="precio"
        [(ngModel)]="curso.precio"
        required
      />
    </div>

    <div class="form-group">
      <label for="archivoPdf">Subir archivo PDF:</label>
      <input
        type="file"
        id="archivoPdf"
        (change)="onFileSelected($event)"
        required
      />
    </div>

    <button type="submit" [disabled]="!cursoForm.form.valid">
      Crear Curso
    </button>
  </form>
</div>
