<div class="form-container">
  <h2>Crear Nuevo Curso</h2>
  <form (ngSubmit)="crearCurso()">
    <div>
      <label for="nombre">Nombre:</label>
      <input id="nombre" [(ngModel)]="nombre" name="nombre" required />
    </div>
    <div>
      <label for="descripcion">Descripción:</label>
      <textarea
        id="descripcion"
        [(ngModel)]="descripcion"
        name="descripcion"
        required
      ></textarea>
    </div>
    <div>
      <label for="precio">Precio:</label>
      <input id="precio" [(ngModel)]="precio" name="precio" required />
    </div>
    <div>
      <label for="password">Contraseña (opcional):</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
      />
    </div>
    <div>
      <label for="file">Archivo (PDF, video, foto, etc.):</label>
      <input type="file" (change)="onFileSelected($event)" required />
    </div>
    <button type="submit">Crear Curso</button>
  </form>
</div>
