.cursos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.curso-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px; /* Asegura que el ancho máximo de la tarjeta sea 300px */
  text-align: center;
  transition: transform 0.3s ease;
  word-wrap: break-word; /* Evita que las palabras largas se salgan del contenedor */
  overflow-wrap: break-word; /* Funciona como soporte adicional */
  hyphens: auto; /* Si es posible, corta las palabras con guiones */
}

.curso-card:hover {
  transform: translateY(-10px);
}

.curso-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.curso-card p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #555;
  word-wrap: break-word; /* Aplica la rotura de palabra en los párrafos también */
  overflow-wrap: break-word;
  hyphens: auto;
}
.curso-card a {
  color: #007bff;
  text-decoration: none;
  word-wrap: break-word; /* Evita que el link sea muy largo */
}

.curso-card a:hover {
  text-decoration: underline;
}

.input-password {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-descargar {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-descargar:hover {
  background-color: #218838;
}
