<div *ngFor="let curso of cursos" class="curso-card">
  <h2>{{ curso.nombre }}</h2>
  <p>{{ curso.descripcion }}</p>
  <p>Precio: {{ curso.precio }}</p>

  <!-- Muestra la URL del archivo subido -->
  <p>
    Archivo subido:
    <a [href]="curso.fileUrl" target="_blank">{{ curso.fileUrl }}</a>
  </p>

  <input
    type="password"
    [(ngModel)]="curso.password"
    placeholder="Ingrese la contraseña"
  />

  <button (click)="descargarCurso(curso)">Descargar Archivo</button>
</div>
