<div class="servicios-container">
  <div class="table-header">
    <h2>Lista de Servicios</h2>
  </div>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let servicio of servicios; let i = index">
        <td>{{ servicio.titulo }}</td>
        <td>{{ servicio.descripcion }}</td>
        <td>
          <!-- Botón de Actualizar -->
          <button
            (click)="abrirModalActualizar(servicio)"
            class="btn-actualizar"
          >
            Actualizar
          </button>
          <!-- Botón de Eliminar -->
          <button (click)="eliminarServicio(servicio.id)" class="btn-eliminar">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal de Actualización -->
<div *ngIf="servicioSeleccionado" class="modal">
  <h2>Actualizar Servicio</h2>
  <form (ngSubmit)="actualizarServicio()">
    <label for="titulo">Título:</label>
    <input
      type="text"
      [(ngModel)]="servicioSeleccionado.titulo"
      name="titulo"
    />
    <label for="descripcion">Descripción:</label>
    <input
      type="text"
      [(ngModel)]="servicioSeleccionado.descripcion"
      name="descripcion"
    />
    <button type="submit" class="btn-guardar">Guardar</button>
    <button type="button" (click)="cerrarModal()" class="btn-cancelar">
      Cancelar
    </button>
  </form>
</div>
